header {
  background-color: #57a1a6;
  box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.2);
  padding: 0px;
  margin: 0px;
  width: 100%;
}
.logo {
  display: flex;
  align-items: center;
}
img {
  width: 50%;
  width: 200px;
}
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.connexion {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding-right: 3%;
}
.bonjour {
  display: flex;
  align-items: center;
}
.bonjourUtilisateur {
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding-left: 25px;
}
a {
  text-decoration: none;
  color: midnightblue;
}

.boutonReservations {
  padding-right: 25px;
}
